@charset "utf-8";

/* 공통 */
.hide{
  width:0; height:0;
  font-size: 0; line-height: 0;
  position: absolute; visibility: hidden;
}

.button{
  border : 1px solid #666;
  display: inline-block;
  text-align: right;
  padding : 0 14px;
  background-color: rgb(114, 110, 111);
  font-weight: bold;
}

.button>a{
  font-size:14px;
  color:#fff;
  display: block;
}


article{
  width : 1180px;
  margin: 0 auto;
  padding : 70px 0;
}


/* header */
header{
  /* background-color: rgb(238, 235, 235); */
  background-color: rgb(255, 221, 227);
}

div.header{
  width : 1180px;
  margin : 0 auto;
  padding : 35px 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

div.header>h1>a>img{
  width : 180px;
  height: 30px;
}

/* nav */
nav>ul{
  display: flex;
}

nav>ul>li>a{
  font-size: 14px;
  color : #666;
  padding:0 14px;
}

nav>ul>li>a:hover{
  font-weight: bold;
}

/* main */
/* box01 */
#box01{
  background-color: #fff;
}

#box01>article{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}



#box01>article>h3>img{
  width : 590px;
}

#box01>article>h3{
  position:relative;
}

#box01>article>h3>span.label{
  position:absolute;
  top:35px;
  right:35px;
  display: block;
  width : 70px;
  height: 70px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius: 50%;
  background-color:yellowgreen;
  font-size: 20px;
  color:#fff;
  box-shadow: 1px 2px 3px #666;
}

#box01>article>dl{
  width:480px;
  padding : 80px 0;  
  text-align: center;
  color : rgb(62, 60, 60);
}
#box01>article>dl>dt{
  font-size: 24px;
  font-weight: bold;
  margin-bottom : 60px;
  color : rgb(255, 0, 64);
  font-family: 'Syne', sans-serif;
}

#box01>article>dl>dd{
  font-size: 16px;
  margin-bottom:24px;
  line-height: 35px;
  font-family: 'Gowun Dodum', sans-serif;
}

#box01>article>dl>dd:nth-child(2){
  font-weight: bold;
  font-size:20px;
}

#box01>article>dl>dd>b{
  font-weight: bold;
}



/* box02 */
#box02{
  background-color: rgb(247, 226, 229);
}

#box02>article{
  display: flex;
  justify-content: space-between;
}

#box02>article>h3>img{
  width : 590px;
}

#box02>article>dl{
  width:480px;
  padding : 35px 0;  
  text-align: center;
  color : rgb(62, 60, 60);
}

#box02>article>dl>dt{
  font-size: 24px;
  font-weight: bold;
  margin-bottom : 60px;
  color : rgb(255, 0, 64);
  font-family: 'Syne', sans-serif;
}

#box02>article>dl>dd{
  font-size: 16px;
  margin-bottom:24px;
  line-height: 35px;
  font-family: 'Gowun Dodum', sans-serif;
}

#box02>article>dl>dd>b{
  font-weight: bold;
}

/* box03 */
#box03{
  background-color:  #fff;
}

#box03>article>h3{
  font-family: 'Syne', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-indent: 14px;
  line-height:35px;
  margin-bottom:35px;
  color:rgb(62, 60, 60);
}

#box03>article>h3>span{
  width:360px;
  height: 2px;
  display: block;
  background-color: rgb(133, 120, 138);
}

#box03>article>div.goods{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#box03>article>div.goods>figure{
  width:260px;
  height: auto;
}

#box03>article>div.goods>figure>img{
  width:100%;
  height: auto;
  margin-bottom:24px;
}

#box03>article>div.goods>figure>figcaption dt{
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}

#box03>article>div.goods>figure>figcaption dd{
  font-size: 12px;
  margin-bottom: 16px;
  color : #555;
  text-align: center;
  line-height: 20px;  
}

#box03>article>div.goods>figure>figcaption dd:last-child{
  display: flex;
  justify-content: center;
  margin-bottom : 10px;
}

#box03>article>div.goods>figure>figcaption dd:last-child>p.btn{
  padding : 0 14px;
  margin : 0 6px;
  border : 1px solid #555;
  background-color: #fff;
  color : #666;
}

#box03>article>div.goods>figure>figcaption dd:last-child>p.btn>a{
  color : #666;
  display: block;
}

/* box04 */

#box04{
  background-color: rgb(247, 226, 229);
}

#box04>article>h3{
  font-size: 18px;
  font-weight: bold;
  text-indent: 14px;
  line-height:35px;
  margin-bottom:35px;
  color:rgb(62, 60, 60);
  font-family: 'Syne', sans-serif;
}

#box04>article>h3>span{
  width:360px;
  height: 2px;
  display: block;
  background-color: rgb(133, 120, 138);
}

#box04>article>div.goods{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#box04>article>div.goods>figure{
  width:260px;
  height: auto;
}

#box04>article>div.goods>figure>img{
  width:100%;
  height: auto;
  margin-bottom:24px;
}

#box04>article>div.goods>figure>figcaption dt{
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}

#box04>article>div.goods>figure>figcaption dd{
  font-size: 12px;
  margin-bottom: 16px;
  color : #555;
  text-align: center;
  line-height: 20px;
}

#box04>article>div.goods>figure>figcaption dd:last-child{
  display: flex;
  justify-content: center;
  margin-bottom : 10px;
}

#box04>article>div.goods>figure>figcaption dd:last-child>p.btn{
  padding : 0 14px;
  margin : 0 6px;
  border : 1px solid #555;
  background-color: #fff;
  color : #666;
}

#box04>article>div.goods>figure>figcaption dd:last-child>p.btn>a{
  color : #666;
  display: block;
}

/* box05 */

#box05{
  background-color: #fff;
}


#box05>article>h3{
  font-size: 18px;
  font-weight: bold;
  text-indent: 14px;
  line-height:35px;
  margin-bottom:35px;
  color:rgb(62, 60, 60);
  font-family: 'Syne', sans-serif;
}

#box05>article>h3>span{
  width:360px;
  height: 2px;
  display: block;
  background-color: rgb(133, 120, 138);
}

#box05>article>div.goods{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#box05>article>div.goods>figure{
  width:260px;
  height: auto;
}

#box05>article>div.goods>figure>img{
  width:100%;
  height: auto;
  margin-bottom:24px;
}

#box05>article>div.goods>figure>figcaption dt{
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}

#box05>article>div.goods>figure>figcaption dd{
  font-size: 12px;
  margin-bottom: 16px;
  color : #555;
  text-align: center;
  line-height: 20px;
}

#box05>article>div.goods>figure>figcaption dd:last-child{
  display: flex;
  justify-content: center;
  margin-bottom : 10px;
}

#box05>article>div.goods>figure>figcaption dd:last-child>p.btn{
  padding : 0 14px;
  margin : 0 6px;
  border : 1px solid #555;
  background-color: #fff;
  color : #666;
}

#box05>article>div.goods>figure>figcaption dd:last-child>p.btn>a{
  color : #666;
  display: block;
}

/* aside */
aside>div.show{
  width : 100%;
  overflow: hidden;
}
aside>div.show>.slide>.all{
  width : 300%;
  display: flex;
}

aside>div.show>.slide>.all>li{
  width : 33.33333333333333%;
  height: 100%;
}

aside>div.show>.slide>.all>li>img{
  width : 100%;
}
aside>div.show>.slide{
  position:relative;
}
aside>div.show>.slide>.prev{
  position:absolute;
  top:calc( 50% - 35px);
  left:0;
  display: block;
  font-size: 70px;
  color : #666;
}

aside>div.show>.slide>.next{
  position:absolute;
  top:calc( 50% - 35px);
  right:0;
  display: block;
  font-size: 70px;
  color : #666;
}

aside>p.messenger{
  position : fixed;
  bottom : 100px;
  right:35px;
}

aside>p.messenger>img{
  width : 35px;
  height: 35px;  
}

/* footer */
footer{
  background-color: rgb(255, 221, 227);
  padding : 35px 0  14px;
}

footer>#footer{
  width : 1180px;
  margin : 0 auto;
  display: flex;
  justify-content: space-between;  
}

#footer>div.fbox01>img{
  width : 180px;
  height: 30px;
  margin-bottom: 35px;
}

#footer>div.fbox01>dl{
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  width : 610px;
  color:rgb(62, 60, 60);
}

#footer>div.fbox01>dl>dt{
  font-weight: bold;
  margin-right: 5px;
}

#footer>div.fbox01>dl>dd{
  border-right: 1px solid #666;
  padding-right: 3px;
  margin : 0 3px 5px 0;
}

#footer>div.fbox01>dl>dd:nth-child(6){
  border : none;
}

#footer>div.fbox01>dl>dd:last-child{
  border : none;
}

#footer>div.fbox02>dl{
  width : 310px;
  font-size: 12px;
  text-align: right;
  line-height: 24px;
  color:rgb(62, 60, 60);
}

#footer>div.fbox02>dl>dt{
  font-weight: bold;
}

#footer>div.fbox02>dl>dd{
  margin-bottom:14px;
}

footer>small{
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  /* color : rgb(62, 60, 60); */
  color:#fff;
}