/* color */
/* 
back : rgb(238, 235, 235); rgb(247, 226, 229); #fff;
font : #666; rgb(62, 60, 60)
*/

/* size */
/* 
content : 1180px;
14px;
35px;
24px;
*/


/* /공통 */

/*
.button{
  border : 1px solid #666;
  display: inline-block;
  text-align: right;
  padding : 0 14px;
  background-color: rgb(238, 235, 235);
}

.button>a{
  font-size:14px;
  color:#000;
}

.goods
.btn
*/